body
{
background-image:url('http://www.business.hr/UserDocsImages/mmraz/svijet.jpg');
background-color:#cccccc;
background-size: 100%;
-webkit-background-size: 100%;
} 

body {
	text-align: center;
}